@font-face {
  font-family: 'adventure';
  src: url('../fonts/Adventure.ttf'); 
}

@font-face {
  font-family: 'adventureOutline';
  src: url('../fonts/adventureOutline.ttf');
}

#frontend-productivity {
  font-family: 'adventureOutline';
}

#personal + ul, #projects + ul {
  display: block;
  list-style-type: none;
  font-size: .6em;
}

.reveal h3 {
  font-size: 1em;
  text-align: left;
  padding: 0.8em .7em 0;
}