@font-face {
  font-family: 'adventure';
  src: url('../fonts/Adventure.ttf'); 
}

@font-face {
  font-family: 'adventureOutline';
  src: url('../fonts/adventureOutline.ttf');
}

#frontend-productivity {
  font-family: 'adventureOutline';
}

.about-me ul {
  display: block;
  list-style-type: none;
  font-size: .6em;
}

.about-me small {
  display: block
}
.about-me link {
  display: flex;
  justify-content: space-between;
}

.about-me p {
  font-size: 1em;
  text-align: left;
  padding: 0.8em .7em 0;
}

.reveal section img {
  border: 0;
  box-shadow: 0 0 0;
}